name: artifact

on: [push]

env:
  ARTIFACR_NAME: myartifact

jobs:
  main:
    runs-on: ubuntu-latest
    steps:

    - name: Check out code
      uses: actions/checkout@v1
      
    - name: Upload artifact for linux
      uses: actions/upload-artifact@v2
      with:
        name: ${{ env.ARTIFACT_NAME }}
        path: . 
